@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PixelMix";
  src: url("../fonts/pixelmix.ttf");
}

body,
html {
  @apply h-screen w-screen overflow-hidden;
}

#root {
  @apply bg-black font-pixel text-white h-screen w-screen flex justify-center items-center overflow-hidden;
}

:root {
  --reactour-accent: theme("colors.yellow");
}

.reactour__popover {
  @apply !bg-grey !p-5 !max-w-[400px] border-4 border-yellow;
}

.reactour__close-button {
  @apply !top-[18px] !right-[18px];
}
